services:
  api:
    build: .
    container_name: todo-api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongodb:27017/simple_todo_api
    depends_on:
      - mongodb
  mongodb:
    image: mongo:7
    container_name: todo-mongodb
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
