name: CI/CD - Dockerized Todo API

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest

    outputs:
      instance_ip: ${{ steps.tf-output.outputs.instance_ip }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        working-directory: ./infra/terraform
        run: terraform init

      - name: Terraform apply
        working-directory: ./infra/terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ca-central-1
          TF_VAR_ssh_key_name: ${{ secrets.AWS_SSH_KEY_NAME }}

        run: terraform apply -auto-approve

      - name: Read instance IP
        id: tf-output
        working-directory: ./infra/terraform
        run: |
          ip=$(terraform output -raw instance_public_ip)
          echo "instance_ip=$ip" >> $GITHUB_OUTPUT

  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: markfinerty/dockerized-todo-api:latest

  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: [terraform, build-and-push]

    steps:
      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ needs.terraform.outputs.instance_ip }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd ~/app
            docker compose pull
            docker compose up -d
